.temperature-chart {
    width: 550px;
    height: 360px;
    padding-right: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(195, 206, 220);
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.181); */
}